/* feedbacksSection ====================================================================== */
    .feedbacks{
        .title{
            color: $FADED_BLUE;
        }
    }
/* feedbacksSlider ======================================================================= */
    .feedbacksSlider{
        max-width: $main-width/2;
        margin: 0 auto;
        li{
            text-align: center;
            font-size: 16px;
        }
        img{
            display: block;
            margin: 0 auto 10px;
            border: 5px solid $FADED_BLUE;
            @extend %border-radius-50;
        }
        q{
            color: $GRAY_COLOR;
        }
        b{
            display: block;
            margin: 0 0 10px;
            font-size: 20px;
        }
        .owl-wrapper-outer{
            margin: 0 0 20px;
        }
    }
/* ======================================================================================= */