/* specialOfferSection =================================================================== */
    $specialOfferSection: '.specialOffer';
    #{$specialOfferSection}{
        position: relative;
        color: #FFF;
        font-size: 0;
        background-image: url('../img/specialOffer.jpg');
        text-align: center;
        h3{
            font: 700 85px/1 $primary-font;
            margin: 0 0 $mainIndent*.75;
        }
        p{
            margin: 0 0 $mainIndent*1.25;
        }
        .timerBlock{
            padding: $mainIndent;
            border: 5px solid $attentionColor;
            font: 45px/1 $primary-font;
        }
    }
/* Media Queries ========================================================================= */
    @media screen and (max-width: $step3){
        #{$specialOfferSection}{
            .timerBlock{
                font-size: 40px;
                h3{
                    font-size: 75px;
                }
            }
        }
    }
    @media screen and (max-width: $step5){
        #{$specialOfferSection}{
            .timerBlock{
                h3{
                    margin: 0 0 $mainIndent;
                }
            }
        }
    }
    @media screen and (max-width: $step6){
        #{$specialOfferSection}{
            .timerBlock{
                font-size: 30px;
                h3{
                    font-size: 50px;
                }
            }
        }
    }
/* ======================================================================================= */