    $icnClass: '.icn';
    $iconWidth: 100px;
    $iconHeight: $iconWidth;
/* Icons ================================================================================= */
    #{$icnClass}{
        &:before{
            display: block;
            width: $iconWidth;
            height: $iconHeight;
            margin: 0 auto $mainIndent;
            font: 50px/#{$iconHeight} $icn-font;
            border: 5px solid transparent;
            border-top-width: 2px;
            border-bottom-width: 2px;
            @extend %border-radius-50;
        }
        &.like{
            &:before{
                content: '\E800';
            }
        }
        &.phone{
            &:before{
                content: '\E802';
            }
        }
        &.document{
            &:before{
                content: '\E803';
            }
        }
        &.box{
            &:before{
                content: '\E804';
            }
        }
        &.star{
            &:before{
                content: '\E805';
            }
        }
        &.usersGroup{
            &:before{
                content: '\E806';
            }
        }
        &.wallet{
            &:before{
                content: '\E807';
            }
        }
        &.arrowUp{
            &:before{
                content: '\E808';
            }
        }
    }
/* Media Queries ========================================================================= */
    @media screen and (max-width: $step4){
        $iconWidth: 80px;
        $iconHeight: $iconWidth;
        #{$icnClass}{
            &:before{
                width: $iconWidth;
                height: $iconHeight;
                font: 40px/#{$iconHeight} $icn-font;
            }
        }
    }
/* ======================================================================================= */