 /* Variables ============================================================================= */
    $primary-color: #3B454E;
    $primary-dark-color: #282F37;
    $primary-light-color: #E1E6EA;
    $secondary-color: #25B7A4;
    $background-color: #F0EDE5;
    $border-color: #CCC;
    $white: #FFF;
/* Variables Social Colors =============================================================== */
    $twitter-color: #5EA9DD;
    $facebook-color: #3B5998;
    $instagram-color: #AD856B;
    $pinterest-color: #CC2128;
    $google-plus-color: #F2553B;
    $google-plus-dark-color: #42413F;
    $youtube-background-color: #DF2826;
    $successColor: #02B864;
    $error-color: #EE3342;

    $FADED_BLUE: #3E4750;
    $GRAY_COLOR: #7A8387;
    $ORANGE_COLOR: #FDB703;
    $DARK_ORANGE_COLOR: #FF3F1F;
    $attentionColor: $ORANGE_COLOR;
/* Variables Fonts ======================================================================= */
    $primary-font: 'bebasNeue', sans-serif;
    $primary-font-book: 'bebasNeueBook', sans-serif;
    $icn-font: 'Fontello';
    $icn-class: '.icn';
/* Variables Sprites ===================================================================== */
    $main-width: 960px;
    $max-width: 1920px;
    $min-width: 320px;
/* Transition Speed ====================================================================== */
    $fast-speed: .2s;
    $normal-speed: .3s;
    $slow-speed: .5s;
/* Images ================================================================================ */
    $loader-image: url('../images/ajax-loader.gif') no-repeat center center;
/* Indents =============================================================================== */
    $mainIndent: 20px;
/* Sliders Variables ===================================================================== */
    $slider-class: '.owl';
/* Button Variables ====================================================================== */
    $resp-size:16px;
    $btn-padding: .625*$resp-size 1.25*$resp-size;
    $btn-color: $white;
    $btn-font: 400 1rem/1.25rem $primary-font;
    $btn-background: $secondary-color;
/* Breakpoints Variables ================================================================= */
    $step1: 1025px;
    $step2: 1024px;
    $step3: 960px;
    $step4: 800px;
    $step5: 700px;
    $step6: 600px;
    $step7: 500px;
/* ======================================================================================= */