/* CMS About ============================================================================= */
    .cms-about{
        .static{
            padding: 0;
             br{
                display:none;
            }
            h2{
                margin:0 0 30px;
            }
        }
        .dark{
            margin: 0;
        }
        .team{
            margin: 0 0 $main-indent*1.5;
            padding: $main-indent*2.5 0 $main-indent*1.5;
        }
    }
    .lcns{
        margin:50px 0;
        font-size:0;
        a{
            margin:0 0 20px;
        }
        figure{
            width:50%;
            padding:0 50px 30px;
            @include inline-block(top);
        }
        figcaption{
            text-align:center;
            font:18px/24px $primary-font;
            color:$primary-dark-color;
        }
    }
/* ======================================================================================= */