/* Static Pages ========================================================================== */
    .static{
        padding: 0 0 $main-indent*2;
        text-align: justify;
        font: 20px/30px $primary-font;
        color: $primary-color;
        h2{
            font-size: 20px;
        }
        p{
            padding: 0 0 $main-indent*1.5;
        }
        ul{
            margin: 0 0 $main-indent;
            &.hyp{
                li{
                    &:before{
                        content: '-';
                        margin: 0 $main-indent/2 0 0;
                    }
                }
            }
        }
        table{
            width: 100%;
            margin: 0 0 $main-indent*1.5;
            border-collapse: collapse;
            border: 1px solid $border-color;
            th{
                font-size: 18px;
                padding: $main-indent/2;
                font-weight: 600;
            }
            td{
                padding: $main-indent/2;
                border-top: 1px solid $border-color;
                @include transition($normal-speed);
            }
            tr{
                th,
                td{
                    &:first-child{
                        text-align: center;
                    }
                }
                &:hover{
                    td{
                        background: lighten($border-color,5%);
                    }
                }
            }
        }
        section{
            margin: 0 0 $main-indent*1.5;
            padding: $main-indent*2 0;
        }
        > .mw{
            border: 0;
            text-align: left;
            p,
            li,
            td,
            th{
                font-size: 18px;
            }
            p{
                text-align:justify;
            }
        }
        .intro{
            position: relative;
            padding: 0 0 $main-indent*4;
            border: 0;
            white-space: nowrap;
            font-size: 0;
            &.left{
                .descr{
                    margin: 0 0 0 -95%;
                }
            }
            .ttl{
                color: #FFF;
                margin: 0;
                background: transparent;
            }
            .itm{
                vertical-align: middle;
                width: 100%;
                font-size: 20px;
                white-space: normal;
            }
            .descr{
                position: relative;
                margin: 0 0 $main-indent -45%;
                width: 40%;
                padding: $main-indent*2;
                color: #FFF;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                background: rgba($primary-color,.9);
                @include transition($normal-speed);
            }
            img{
                border: 0;
            }
            .ttl,
            p{
                position: relative;
            }
            p{
                padding: $main-indent*1.5 0 0;
            }
        }
    }
/* CMS Common ============================================================================ */
    .cms-page-view{
        .crumbs{
            display:none;
        }
        .intro{
            img{
                @include box-shadow(0 0 5px #000);
            }
            .descr{
                margin-bottom:0;
                border:0;
                @include scale(.9);
            }
        }
        &.active{
            .intro{
                .descr{
                    opacity:1;
                    visibility:visible;
                    @include scale(1);
                }
            }
        }
    }
/* ======================================================================================= */