/* Variables ============================================================================= */
    $footer-bg: $primary-dark-color;
/* Common ================================================================================ */
    footer{
        position: relative;
        color: #FFF;
        border-top: 1px solid $border-color;
        background: $footer-bg;
    }
    .footer{
        padding: $main-indent*1.5 0;
        font-size: 0;
        textarea{
            height: 176px;
        }
        .contact{
            margin:15px 0 0;
        }
        #{$links-class}{
            width: 33.334%;
            @extend %inline-block-top;
            a{
                font-size: 16px;
            }
        }
        .form{
            position: relative;
            width: 66.666%;
            margin: 15px 0 0;
            padding: 30px;
            border: 1px solid #8D8F92;
            h2{
                width: 230px;
                margin: -45px auto 10px;
                font: 24px/30px $primary-font;
                text-transform: uppercase;
                text-align: center;
                background: $footer-bg;
            }
            .validation-advice{
                color: #FFF;
            }
        }
        .fields{
            vertical-align: top;
            width: 50%;
            padding: 0 $main-indent 0 0;
            + .fields{
                padding: 0 0 0 $main-indent;
            }
        }
        .buttons-set{
            text-align: right;
        }
    }
/* Back to Top =========================================================================== */
    #{$btn-scroll-top-class}{
        text-align: center;
        background: $secondary-color;
        cursor: pointer;
        @extend %transition-fast-speed;
        &:before{
            content: '\E815';
            color: #FFF;
        }
    }
/* ======================================================================================= */