/* Common ================================================================================ */
    input,
    select,
    textarea{
        display: block;
        width: 100%;
        padding: 5px 7px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        font: 16px/20px $primary-font;
        color: #FFF;
        background: transparent;
        border: 1px solid #8D8F92;
        @extend %transition-normal-speed;
        &:focus{
            border-color:$background-color;
        }
    }
    input,
    select{
        height: 30px;
    }
    input{
        &:invalid{
            border-color:rgba($error-color,.9);
            background:rgba($error-color,.1);
        }
    }
    select{
        &::ms-expand{
            opacity: 0;
        }
    }
    label{
        display: inline-block;
        margin: 0 0 5px;
        font-size: 14px;
        cursor: pointer;
    }
    textarea{
        resize: vertical;
        overflow: auto;
        max-height: 300px;
        min-height: 100px;
    }
/* Custom Select ========================================================================= */
    .input-select{
        position: relative;
        background: #FFF;
        &:before{
            content: '\E802';
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 100%;
            text-align: center;
            font: 20px/30px $icn-font;
            color: $secondary-color;
            background: $primary-dark-color;
            z-index: 0;
        }
        select{
            padding: 5px 30px 5px 5px;
            position: relative;
            z-index: 2;
            background: transparent;
            cursor: pointer;
            border: 1px solid $primary-dark-color;
        }
    }
/* Required Fields ======================================================================= */
    .required{
        em{
            color: $error-color;
        }
    }
/* Validation ============================================================================ */
    .validation-advice{
        position: absolute;
        font-size: 10px;
        color: $error-color;
    }
/* Form ================================================================================== */
    .form{
        textarea{
            resize: none;
        }
        .field{
            margin: 0 0 $main-indent;
        }
    }
/* ======================================================================================= */