/* Common ================================================================================ */
    form{
        &:before{
            content: '';
            padding: $mainIndent $mainIndent 0;
            left: (-$mainIndent);
            top: (-$mainIndent);
            background: rgba(#FFF, .7) url('../img/ajaxLoader.gif') no-repeat center center;
            @extend %overlay;
            @extend %hidden;
            @extend %transition-normal-speed;
        }
        &.loading{
            position: relative;
            &:before{
                @extend %visible;
            }
        }
    }
    fieldset{
        text-align: left;
    }
    input{
        display: block;
        width: 100%;
        height: 40px;
        margin: 0 0 20px;
        padding: 10px;
        background: transparent;
        border: 0;
        outline: 0;
        background: #FFF;
        font: 14px/20px 'Arial', sans-serif;
        color: #252525;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        @include border-radius(1px);
        @extend %border-box;
        @extend %transition-normal-speed;
        &:valid{
            border: 1px solid rgba($successColor,.1);
        }
        &[type="submit"],
        &[type="button"]{
            width: auto;
            height: auto;
            @extend %btn;
            &:hover{
                background: $successColor;
            }
        }
    }
    label{
        display: inline-block;
        margin: 0 0 5px;
        font-size: 14px;
        cursor: pointer;
    }
    .formWrapper{
        max-width: 320px;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        color: #FFF;
        @extend %border-box;
    }
/* ======================================================================================= */