/* Common ================================================================================ */
    $logo-class: '.logo';

    header{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background: #FFF;
        z-index: 10;
        font-size: 0;
        border-bottom: 1px solid $primary-dark-color;
        .mw{
            position: relative;
            > .menu{
                width: 70.833%;
            }
            #{$logo-class}{
                width: 29.167%;
            }
        }
        #{$logo-class}{
            a{
                color: $primary-color;
                &:hover{
                    opacity: .8;
                }
            }
            img{
                width: 2.25rem;
            }
            span{
                margin: 0 0 0 .625rem;
                font: 1.25rem/1.25rem $primary-font;
            }
            small{
                display: block;
                font: .875rem/1rem $primary-font;
            }
        }
        .hdr-trgr{
            display: none;
            position: relative;
            cursor: pointer;
            font-size: 20px;
            line-height: 36px;
            color: $primary-dark-color;
            @extend %transition-normal-speed;
            &:hover{
                color: $primary-dark-color;
            }
            &:before{
                margin: 0 10px 0 0;
                @extend %transition-normal-speed;
            }
        }
    }
/* Navigation ============================================================================ */
    nav{
        text-align: right;
    }
    .nav{
        &-itm{
            position: relative;
            display: block;
            padding: 0 .625rem;
            font: 1.125rem/3.125rem $primary-font;
            color: $primary-color;
            cursor: pointer;
            z-index: 2;
            @extend %transition-fast-speed;
            &:before{
                 @extend %transition-fast-speed;
            }
        }
        li{
            @extend %inline-block-top;
        }
        > .itm{
            width: auto;
        }
        p{
            &.top-lvl{
                cursor: default;
            }
        }
        .top-lvl{
            line-height: 4.25rem;
        }
        .dd{
            position: absolute;
            max-height: 0;
            overflow: hidden;
            width: 200%;
            padding: 0 50%;
            margin: 0 -50%;
            left: 0;
            top: 100%;
            background: #FFF;
            border-bottom: 1px solid $primary-dark-color;
            @extend %transition-fast-speed;
            &.active{
                opacity: 1;
                visibility: visible;
                z-index: 3;
            }
        }
    }
/* ======================================================================================= */