/* Variables ============================================================================= */

/* Common ================================================================================ */
    body{
        font: 400 16px/1.25 $primary-font;
    }
    h1{
        font: 700 70px/1 $primary-font;
        color: rgba($secondary-color,.5);
    }
    .mw{
        max-width: $main-width;
        margin: 0 auto;
    }
/* heroImage ============================================================================= */
    $heroImageClass: '.heroImage';
    $heroImageBackground: 'heroImage.jpg';
    #{$heroImageClass}{
        padding: 10px 0 0;
        background: url('../img/#{$heroImageBackground}');
        h2{
            font: 38px/1 $primary-font-book;
            color: #FFF;
        }
    }
/* ======================================================================================= */