/* Common ================================================================================ */
    body{
        max-width: $max-width;
        overflow-x: hidden;
        margin: 0 auto;
        font: 400 16px/1.25 $primary-font;
    }
    h1{
        font: 700 70px/1 $primary-font;
    }
    section{
        margin: 0 -50%;
        padding: 40px 50%;
        .title{
            margin: 0 0 2*$mainIndent;
            text-align: center;
            font: 400 65px/1.1 $primary-font-book;
            b{
                font-family: $primary-font;
            }
        }
    }
    .dark{
        color: #FFF;
        background: #000 no-repeat center center / cover;
        @include box-shadow(0 0 5px 0 #000);
    }
    .page{
        position: relative;
        margin: 0 auto;
        max-width: $main-width;
        min-width: $min-width;
    }
    .sc{ // Secondary-color
        color: $secondary-color;
    }
    .ac{ // Attention-color
        color: $attentionColor;
    }
    .itm{
        @extend %inline-block-middle;
    }
    .copy{
        padding: 20px 50%;
        text-align: center;
        h6{
            font-weight: 400;
        }
    }
/* Messages ============================================================================== */
    .messages{
        position: absolute;
        height: 0;
        padding: 0 10px;
        margin: 0;
        background: rgba($error-color, .4);
        color: #FFF;
        font: 16px/1.3 $primary-font;
        @include scale(0);
        @extend %hidden;
        @extend %transition-fast-speed;
        &.active{
            position: relative;
            height: auto;
            padding: 10px;
            border: 1px solid $error-color;
            animation: .3s scaleUp;
            -webkit-animation: .3s scaleUp;
            @extend %visible;
            @include scale(1);
        }
        &.success{
            border-color: $successColor;
            background: rgba($successColor, .4);
        }
        &.noJS{
            padding: $mainIndent 50%;
            margin: 0 -50%;
        }
    }
    label{
        &.messages{
            display: block;
            text-align: center;
            cursor: default;
            &.active{
                margin: 0 0 20px;
            }
        }
    }
/* Media Queries ========================================================================= */
    @media screen and (max-width: $step3){
        section,
        .copy{
            padding: $mainIndent;
            margin: 0;
        }
        section{
            .title{
                margin: 0 0 $mainIndent;
            }
        }
    }
    @media screen and (max-width: $step4){
        section{
            .title{
                font-size: 55px;
            }
        }
    }
    @media screen and (max-width: $step6){
        section{
            .title{
                font-size: 45px;
            }
        }
    }
    @media screen and (max-width: $step7){
        section{
            .title{
                font-size: 30px;
            }
        }
        .messages{
            font-size: 14px;
        }
    }
/* ======================================================================================= */