@media screen and (max-width: $step11){
    /* Common ================================================================================ */
        body{
            padding-top:50px;
        }
        section{
            .ttl{
                margin-bottom:30px;
            }
        }
        .ttl{
            padding:0 5px;
            font-size:20px;
        }
    /* Header ================================================================================ */
        header{
            .logo{
                img{
                    width:30px;
                }
                span{
                    margin-left:5px;
                    font:14px/16px $primary-font;
                }
                small{
                    font:10px/14px $primary-font;
                }
            }
            div{
                &.menu{
                    line-height:28px;
                }
            }
            .hdr{
                &-trgr{
                    display: block;
                    font: 0/0 $primary-font;
                    &:before{
                        font: 24px/30px $icn-font;
                        margin: 0;
                    }
                }
            }
        }
    /* Main Slider =========================================================================== */
        #{$main-slider-class}{
            h3{
                font-size:20px;
            }
        }
    /* Grid Slider =========================================================================== */
        #{$grid-slider-class}{
            #{$slider-class}{
                &-item{
                    padding: 0 30px;
                    > li{
                        display: block;
                        max-width: 275px;
                        margin: 0 auto;
                    }
                }
            }
        }
    /* CMS About ============================================================================= */
        .lcns{
            margin: 30px 0;
            figure{
                padding: 0 0 30px;
            }
        }
    /* Сms Pages ============================================================================= */
        .static{
            .intro{
                .descr{
                    width: 70%;
                    margin: 0 0 0 -85%;
                }
            }
        }
    /* ======================================================================================= */
}