@media screen and (max-width: $step6){
    $resp-size:10px;
    .btn{
        padding:1*$resp-size;
    }
    /* Common ================================================================================ */
        .ttl{
            font-size: 26px;
        }
    /* Main Slider =========================================================================== */
        #{$main-slider-class}{
            h3{
                padding: $main-indent;
                font-size: 30px;
            }
        }
    /* Feedbacks Slider ====================================================================== */
        #{$feedbacks-slider-class}{
            q{
                font: 16px/20px $primary-font;
            }
        }
    /* Grid Slider =========================================================================== */
        #{$grid-slider-class}{
            .grid{
                margin: 0;
                > .itm{
                    width: 33.334%;
                    margin: 0;
                }
            }
        }
    /* ======================================================================================= */
}