@media screen and  (max-width: $step2){
    /* Common ================================================================================ */
        .mw{
            padding: 0 1.25rem;
        }
    /* Navigation ============================================================================ */
        .nav{
            .dd{
                width: 100%;
                margin: 0;
                padding: 0 1.25rem;
            }
        }
    /* Footer ================================================================================ */
        .footer{
            padding: 1.875rem 1.25rem;
        }
    /* ======================================================================================= */
}