@media screen and (max-width: $step5){
    /* Common ================================================================================ */
        body{
            padding-top: 56px;
        }
    /* Header ================================================================================ */
        header{
            border-bottom: 0;
            .mw{
                padding: $main-indent/2 $main-indent;
                background: #FFF;
                @include box-shadow(0 0 2px $primary-dark-color);
                > .itm{
                    width: 50%;
                }
            }
            .hdr-trgr{
                display: inline-block;
            }
        }
    /* Navigation ============================================================================ */
        .nav{
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            padding: 0 $main-indent;
            background: #FFF;
            border-bottom: 1px solid transparent;
            z-index: -1;
            @include transition($normal-speed);
            &.active{
                top: 100%;
                border-color: $primary-color;
            }
            &-itm{
                font-size: 1rem;
            }
            .top-lvl{
                line-height: 50px;
            }
            .dd{
                z-index: -1;
                &.active{
                    margin: 1px 0 0;
                    max-height: 1000px;
                }
                &-trgr{
                    padding-right: 25px;
                    &.active{
                        &:after{
                            @include transform(translate(0,-50%) rotate(180deg));
                        }
                    }
                    &:after{
                        content: '\E802';
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        margin: 0 0 0 $main-indent/2;
                        font: 20px/50px $icn-font;
                        @include translate(0,-50%);
                        @include transition($fast-speed);
                    }
                }
            }
        }
    /* Feedbacks Slider ====================================================================== */
        #{$feedbacks-slider-class}{
            q{
                font: 18px/22px $primary-font;
            }
        }
    /* Main Slider =========================================================================== */
        #{$main-slider-class}{
            #{$slider-class}{
                &-controls{
                    display: none;
                }
            }
        }
    /* Team ================================================================================== */
         #{$team-class}{
            .info{
                padding: $main-indent/2;
                font-size: 13px;
            }
            .socials{
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: $main-indent/4 0;
                background: rgba(#FFF,.8);
                .icn{
                    width: 30px;
                    height: 30px;
                    font: 16px/30px $icn-font;
                }
                .vk{
                    background: lighten($facebook-color,10%);
                }
                .fb{
                    background: $facebook-color;
                }
                .twtr{
                    background: $twitter-color;
                }
            }
        }
    /* Back To Top =========================================================================== */
        #{$btn-scroll-top-class}{
            &:before{
                display: inline-block;
                font: 30px/1 $icn-font;
            }
        }
    /* ======================================================================================= */
}