/* Common ================================================================================ */
    #{$icn-class}{
        &:before,
        &:after{
            font-family: $icn-font;
        }
        &.search{
            &:before{
                content: '\E800';
            }
        }
        &.ar{
            &:before{
                content: '\E801';
            }
        }
        &.menu{
            &:before{
                content: '\E808';
            }
        }
        &.vk{
            &:before{
                content: '\E80B';
            }
        }
        &.fb{
            &:before{
                content: '\E80C';
            }
        }
        &.twtr{
            &:before{
                content: '\E80D';
            }
        }
        &.rub{
            &:before{
                content: '\E80E';
            }
        }
        &.time{
            &:before{
                content: '\E807';
            }
        }
        &.map-pin{
            &:before{
                content: '\E80F';
            }
        }
        &.usr-group{
            &:before{
                content: '\E810';
            }
        }
        &.phone{
            &:before{
                content: '\E811';
            }
        }
        &.mail{
            &:before{
                content: '\E812';
            }
        }
        &.rss{
            &:before{
                content: '\E813';
            }
        }
        &.calendar{
            &:before{
                content: '\E814';
            }
        }
    }
/* ======================================================================================= */