/* Team ================================================================================== */
    #{$team-class}{
        .img{
            position: relative;
            &:before{
                @extend %transition-normal-speed;
            }
            > .itm{
                width: 100%;
                text-align: center;
            }
        }
        .socials{
            @extend %transition-normal-speed;
            .icn{
                margin: 0 .25rem;
                color: #FFF;
                background: $primary-dark-color;
                &:before{
                    display: block;
                }
            }
        }
        .info{
            padding: 1.25rem;
            background: $primary-light-color;
            color: #8D8F92;
            font: 1rem/1.25 $primary-font;
            cursor: default;
            @extend %transition-normal-speed;
            strong{
                display: block;
                color: $primary-dark-color;
                text-transform: uppercase;
                @extend %transition-normal-speed;
            }
        }
    }
/* ======================================================================================= */